.button-size-mini{
    padding: 9px 15px;
}

.button-size-small{
    padding: 10px 20px;
}

.button-size-medium{
    padding: 12px 20px;
}


.le-button{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;

}
.button-type-default{
    background-color: #fff;
    border-color: #dcdfe6;
    color: #606266;
    &:hover,&:focus{
        color: #409eff;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
    }
}
.button-type-primary{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    &:hover,&:focus{
        background: #66b1ff;
        border-color: #66b1ff;
        color: #fff;
    }
}
.button-type-danger{
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
    &:hover,&:focus{
        background: #f78989;
        border-color: #f78989;
        color: #fff;
    }
}
.plain{
    background: rgb(238, 238, 238);
    border: 1px;
}

.plain:hover{
    border: 2px solid rgb(73, 163, 223);
    color: rgb(73, 163, 223);
}

.disable:hover{
    border: 0px;
    color: rgb(121, 113, 113);
}
